#bg-color {
    /* background-color: ; */
    background-image: "assets/images/eagles-dogs.PNG";
}

.bg-img {
    background-image: "assets/images/eagles-dogs.PNG";
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#head-div {
    background-color: #ffffff;
    width: 100vw;
    height: 64px;
    top: 0;
    left: 0;
    position: absolute;
    border-bottom: 2px solid #cccccc;
}

.name {
    color: white;
    text-align: center;
    position: relative;
    width: 178px;
    height: 44px;
    margin-left: 196px;
    padding-top: 20px;
    font-size: 21px;
    font-weight: bold;
    overflow: hidden;
}

li a {
    color: gray;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
}

li a:hover {
    background-color: #4aaaa5;
    color: white;
    transition-duration: .5s;
}

.active {
    background-color: white;
} 

.inactive {
    background: #4aaaa5;
}

.navbar {
    width: 400px;
    height: 45px;
    top: 0;
    right: 0;
    position: absolute;
    /* float: right; */
    margin-right: 200px;
    background-color: white;
    list-style-type: none;
}

.hnav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: inline;
    padding: 10px 10px 20px 10px;
    font-size: 14px;
}

/* .full-width {
    top: 0;
    position: static;
    height: 100px;
    width: 100vw;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: -50px;
    padding-left: 260px;
    background-color: lightgray;
}  */
/* 
.container {
    top: 0;
    position: absolute;
    height: 100px;
    width: 960px;
    padding-bottom: 10px;
    padding-left: 260px;
    margin: 0 auto;
    background-color: white;
} */


#container {
    width: 960px;
    height: 450px;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 100px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    position: static;
}

#container-2 {
    width: 960px;
    height: 700px;
    overflow: visible;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 100px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

#container-3 {
    width: 960px;
    height: 525px;
    overflow: visible;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 100px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    overflow-y: visible;
}

.footer-div {
    position: static;
    overflow: hidden;
    left: 0;
    background-color: #666666;
    width: 100vw;
    /* border-top: #666666 solid 30px; */
}
/* 
.footer-div p {
    bottom: 0;
    vertical-align: bottom;
} */

.footer-div:before {
    content: "";
    position: absolute;
    overflow: hidden;
    margin-bottom: 50px;
    width: 100vw;
    border: 5px solid #4aaaa5;
  }

.fl-rt {
    float: right;
}

.fl-lt {
    float: left;
}

.bdr-rt {
    border-right: 1px solid #eeeeee;
    height: 1px;
    /* padding-top: 8px; */
}

.clear {
    clear: left;
}

#about {
    color: #4aaaa5;
    font-size: 28px;
    margin-left: 24px;
    margin-top: 32px;
}

.border {
    border: 1px solid #cccccc;
    margin-left: 24px;
    margin-right: 26px;
    margin-top: 25px;
}

.width-sm {
    width: 144px;   
}

.height-sm {
    height: 107px;
}

.font-fam {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.gray-font {
    color: #777777;
}

.gray-font2 {
    color: #cccccc;
}

.gray-border {
    border: 1px solid #dddddd;
}

.no-border {
    border: 0px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.port-image {
    width: 275px;
    height: 205px;
}

.center {
    text-align: center;
}

.white {
    color: #ffffff;
}

.sm-font {
    font-size: 10px;
}

.md-font {
    font-size: 14px;
}

.bottom {
    bottom: -10;
}

.mg-lg {
    margin-top: 35px;
}

.mg-top {
    margin-top: 21px;
}

.mg-bot {
    margin-bottom: 4px;
}


.no-margin {
    margin: 0px 0px 0px 0px;
}

.pd-left {
    padding-left: 21px;
}

.pr {
    padding-right: 20px;
}

.pd-top {
    padding-top: 30px;
}

.mg-bt {
    margin-bottom: 20px;
}

.ml {
    margin-left: 24px;
}

.ml-lg {
    margin-left: 160px;
}

.ml-sm {
    margin-left: 14px;
}

.ml-xs {
    margin-left: 6px;
}

.mt-xs {
    margin-top: 4px;
}

.mr-sm {
    margin-right: 50px;
}

.ml-neg-sm {
    margin-left: -24px;
}

.form-width {
    width: 420x;
}

.message-ht {
    height: 150px;
}

.ln-ht {
    line-height: 2em;
}

.center-content {
    align-content: center;
}

.port-image1 { 
    position: relative; 
    width: 200px; /* for IE 6 */
    clear: both;
    float: left;
    /* display: block; */
    margin-left: 2px;
    margin-right: auto;
    margin-bottom: 25px;
    left: 22px;
 }
 
.port-image2 { 
    position: relative; 
    width: 200px; /* for IE 6 */
    clear: both;
    float: right;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    right: 490px;
 }

img {
    display: inline-block;
}

 h2 { 
    position: absolute; 
    top: 250px; 
    left: 10; 
    width: 64px; 
 }
 h2 span { 
    color: #ffffff; 
    letter-spacing: -1px;  
    background: #4aaaa5; /* fallback color */
    background: #4aaaa5;
    padding: 10px; 
 }

 .pd-right-lg {
     padding-right: 30px;
 }

 .absolute {
     position: absolute;
 }

 .relative {
     position: relative;
 }

 ol li { 
    list-style-position: outside; 
    padding-left: 0; 
}
 
ol { 
    overflow: hidden; 
    padding-left: 40px; 
    margin-left: 0; 
}

.ltr-spc {
    letter-spacing: .008em;
}

.btn-pad {
    padding: 10px 10px 10px 10px;
}
/* 
.btn-margin {
    margin: 0px 500px 0px 0px;
} */

.submit-pad {
    padding: 8px 25px 8px 25px;
}

#hover:hover {
    transition-duration: .5s;
    transition-timing-function: ease-out;
    background-color: #4eeee5;
}

.bold {
    font-weight: 300;
}

.form-width {
    width: 95%;
}

.column {
    flex: 0%;
}

.row {
    width: 100%;
    margin: 0 auto;
    display: flex;
}
/* clearfix hack for rows without bootstrap */
.row:before, 
.row:after {
    content:"";
    display: table;
    clear: both;
}

.text-block1 {
    padding: 10px 0px 10px 40px;
    margin: -152px 10px 100px 22px;
    left: 2px;
}
.text-block-2 {
    padding: 10px 0px 10px 40px;
    margin: -152px 0px 10px -170px;
    left: -40px;
}

.text-block {
    position: relative;
    background-color: #4aaaa5;
    color: white;
    width:160px;
    font-size: 18px;
    font-weight: 100;
}

.text-block a:hover {
    text-shadow: 1px 1px #000;
    font-size: 19px;
    transition-duration: .5s;
}

.txt-none {
    text-decoration: none;
}
